{% extends "projectsBasePage.html" %}
{%block title%}Autonomous SAR Project{%endblock%}

{% block header %}Autonomous Search and Rescue(SAR){% endblock %}

{% block about %}This project aims to create a system that utilizes a quad-copter and ground rover system to autonomously perform simulated search and rescue operations. This serves as a prototype for a real autonomous search and rescue operation to eliminate the potential threats to search and rescue teams' lives. The system is designed to scan an area with a camera mounted on a quad copter to search for a target object. The quad copter will then send the location of this object back to a ground rover which will navigate to the object.{% endblock %}

{% block img1 %}<img src="/static/images/copterRover.png" width="90%" height="90%"></img>{% endblock %}
{% block img2 %}<iframe width="450" height="300" src="//www.youtube.com/embed/jYpD4OxyGQM" frameborder="0" allowfullscreen></iframe>{% endblock %}

{% block status %}
The project has been completed. The full report can be viewed through the button bellow and a video of a test run can be seen.
<br>The Autonomous SAR team consists of Matt Hansen, Kyle Hargreaves, Miguel Vazquez, and Quin Thames.
<p><a class="btn btn-primary btn-lg" href="/projects/autonomous_SAR/report" role="button">See Full Report &raquo;</a></p>
{% endblock %}
