{% extends "projectsBasePage.html" %}
{%block title%}Bike with Friends Project{%endblock%}

{% block header %}Bike with Friends{% endblock %}

{% block about %}Bike with Friends is a social networking Google Glass app for bikers that I am developing for my computer science senior project. The app with be a biking app that will be able to track users rides while giving them updates during the ride much like existing apps like Strava or MapMyRide. However, Bike with Friends will also be able to notify users of other people using the app riding nearby so that they can meet up and ride together.{% endblock %}

{% block img1 %}<img src="/static/images/ggBike.jpg" width="70%" height="70%"></img>{% endblock %}
{% block img2 %}<img src="/static/images/googleglass.jpg" width="70%" height="70%"></img>{% endblock %}

{% block status %}
Bike with Friends is currently in very early development stages. The app has been planned out and the Software Requirement Specifications document can be found in the github wiki.
<p><a class="btn btn-primary btn-lg" href="https://github.com/offDaCharts/CMSI402/wiki" role="button">See github wiki &raquo;</a></p>
{% endblock %}
