{% extends "projectsBasePage.html" %}
{%block title%}Ride with Friends Project{%endblock%}

{% block header %}Ride with Friends{% endblock %}

{% block about %}Ride with Friends is a social networking Google Glass app for bikers that I am developing for my computer science senior project. The app with be a biking app that will be able to track users rides while giving them updates during the ride much like existing apps like Strava or MapMyRide. However, Ride with Friends will also be able to notify users of other people using the app riding nearby so that they can meet up and ride together.{% endblock %}

{% block img1 %}<img src="/static/images/ggBike.jpg" width="70%" height="70%"></img>{% endblock %}
{% block img2 %}<img src="/static/images/googleglass.jpg" width="70%" height="70%"></img>{% endblock %}

{% block status %}
Basic versions of the app and web site have been completed with features including ride time speed, distance, and time updates, saving rides on the website, and notifying users when there is another rider nearby.
<p><a class="btn btn-primary btn-lg" href="https://github.com/offDaCharts/CMSI402" role="button">See github &raquo;</a></p>
{% endblock %}
