{% extends "projectsBasePage.html" %}
{%block title%}Chatter Project{%endblock%}

{% block header %}Chatter{% endblock %}

{% block about %}Chatter is a real-time location based chat service. Users in chatrooms have verified their location and can then chat with those in their near vicinity. Other users may view chat rooms at locations across the globe to see what is happening on the next street over, in the next city, or across nation.{% endblock %}

{% block img1 %}<img src="/static/images/chatterHome.png" width="70%" height="70%"></img>{% endblock %}
{% block img2 %}<img src="/static/images/chatterRoom.png" width="70%" height="70%"></img>{% endblock %}

{% block status %}
Chatter is in it's early development stages and under construction. Soon to come are applications for mobile devices, picture and video support, and other features early adopters have requested.
<br>Chatter is a product of Garage Bros LLC, a company founded by Sam Verhasselt and Quin Thames and was developed using MeteorJS
<p><a class="btn btn-primary btn-lg" href="http://www.onchatter.com" role="button">Check it out &raquo;</a></p>
{% endblock %}
