{% extends "basePage.html" %}
{%block title%}Contact Quin Thames{%endblock%}
{%block css%}{%endblock%}
{% block content %}
<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="padding: 10px">
    <div class="row" style="text-align: center;">
        <h1>Contact Me</h1>
        <p>Robert Quin Thames</p>
        <p><a href="mailto:RobQThames@gmail.com?Subject=I want to offer you a Job!">RobQThames@gmail.com</a></p>
        <p><a href="http://lnkd.in/tCaEAg">LinkedIn</a></p>
        <p><a href="https://plus.google.com/+QuinThames/posts">Google+</a></p>
        <p><a href="http://www.facebook.com/quin.thames">Facebook</a></p>
        <img src="/static/images/jtreePic.jpg" width=300px></img>
    </div>
  </div>
</div>
{% endblock %}
