{% extends "basePage.html" %}
{%block css%}
<link href="/static/css/home.css" rel="stylesheet">
{%endblock%}
{% block content %}
<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/images/jtreePic.jpg" width="75%" height="100%"></img>
      </div>

      <div class="col-sm-8">  
        <h3>About Quin Thames</h3>
        <p>I am a currently a Senior at Loyola Marymount University pursuing a double degree in Electrical Engineering and Computer Science with an Applied Math Minor</p>

        <a href="http://lnkd.in/tCaEAg" target="_blank"><img src="/static/images/linkedin_box_blue.png" alt="LinkedIn" width="48" border="0" height="48"></a>
        <a href="https://plus.google.com/+QuinThames/posts" target="_blank"><img src="/static/images/social_google_box.png" alt="Facebook" width="48" border="0" height="48"></a>
        <a href="http://www.facebook.com/quin.thames" target="_blank"><img src="/static/images/social_facebook_box_blue.png" alt="Google+" width="48" border="0" height="48"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
