{% extends "basePage.html" %}
{%block title%}About Quin Thames{%endblock%}
{%block css%}
<link href="/static/css/home.css" rel="stylesheet">
{%endblock%}
{%block content%}
<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
        <img src="/static/images/gradPic.jpg" width="200px" height="200px" style="float:left"></img>
        <h3>About Me</h3>
        <p>My name is Robert Quinlan Thames, though I go by Quin, and I am a currently a Senior at <a href="http://www.lmu.edu/">Loyola Marymount University(LMU)</a> pursuing a double degree in Electrical Engineering and Computer Science with an Applied Math Minor. Currently I am working a <a href="http://www.datapop.com/">Datapop Inc.</a>, a search engine marketing company in Culver City, building internal web tools to aid with data analysis and ad production.
          <img src="/static/images/row.png" width="125px" height="150px" style="float:right"></img>
          <br><br>My hobbies include various sports/outdoors activities and DIY projects. I am the captian of the LMU rowing team, a licensed sky diver and scuba diver, and have recently built an <a href="https://plus.google.com/+QuinThames/posts/f7EFzVrsJgF">infinity table</a> from scratch with my roommate.
          <img src="/static/images/skyDiving.jpg" width="125px" height="125px" style="float:left"></img>
          <br><br>I'm am interested in pursing a career in Electrical Engineering and Computer Science as well as developing my own projects on the side. You can check out what I'm currently working on in the <a href="/projects">projects</a> tab or you can check out my LinkedIn, GitHub, Google+, and Facebook profiles below.
        </p>

        <div style="text-align: center;">
          <a href="http://lnkd.in/tCaEAg" target="_blank"><img src="/static/images/linkedin_box_blue.png" title="LinkedIn" alt="LinkedIn" width="48" border="0" height="48"></a>
          <a href="https://github.com/offDaCharts" target="_blank"><img src="/static/images/github-sociocon.png" title="GitHub" alt="GitHub" width="48" border="0" height="48"></a>
          <a href="https://plus.google.com/+QuinThames/posts" target="_blank"><img src="/static/images/social_google_box.png" title="Facebook" alt="Facebook" width="48" border="0" height="48"></a>
          <a href="http://www.facebook.com/quin.thames" target="_blank"><img src="/static/images/social_facebook_box_blue.png" title="Google+" alt="Google+" width="48" border="0" height="48"></a>
        <div>
    </div>
  </div>
</div>
{%endblock%}
