{% extends "basePage.html" %}
{% block content %}
<div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <img src="/static/images/jtreePic.jpg" width="75%" height="100%"></img>
      </div>

      <div class="col-sm-8">  
        <h3>About Quin Thames</h3>
        <p>I am a currently a Senior at Loyola Marymount University pursuing a double degree in Electrical Engineering and Computer Science with an Applied Math Minor</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      
      </div>
    </div>
  </div>









  <div class="page-header">
    <h1>Buttons</h1>
  </div>

</div>

{% endblock %}
