{% extends "projectsBasePage.html" %}
{%block title%}Nuclear Fusor Project{%endblock%}

{% block header %}Nuclear Fusor{% endblock %}

{% block about %}I have worked on the Nuclear Fusion Project as a research project at LMU with two other students for the past few years. The objective of the project is to demonstrate the principle of inertial electrostatic confinement fusion through the construction of a Farnsworth-Hirsch reactor. The device works by causing deuterium atoms to violently collide with enough energy to combine in anexothermic process resulting in electromagnetic radiation and high energy neutron emissions. We hope to use knowledge gained from this research towards creating fusion devices that can act as energy sources.{% endblock %}

{% block img1 %}<img src="/static/images/fusor.jpg" width="90%" height="90%"></img>{% endblock %}
{% block img2 %}<img src="/static/images/plasma.jpg" width="70%" height="70%"></img>{% endblock %}

{% block status %}
Currently we have been able to create and sustain atmospheric plasma around the inner grid but have not been able to detect proof of fusion occuring.
<br>The LMU nuclear fusion team currently consists of Will Eberts, Max Isi, and Quin Thames with faculty advisor Anatol Hoemke.
{% endblock %}
