{% extends "basePage.html" %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="tab active" val="chatter"><a href="#chatter" data-toggle="tab">Chatter</a></li>
  <li class="tab" val="nuclear_fusor"><a href="#nuclear_fusor" data-toggle="tab">Bike With Friends</a></li>
  <li class="tab" val="verysuchmuch"><a href="#verysuchmuch" data-toggle="tab">Very Such Much</a></li>
  <li class="tab" val="craigslist_crawler"><a href="#craigslist_crawler" data-toggle="tab">Craigslist Crawler</a></li>
</ul>
<div class="tab-content content">
  <div class="tab-pane row-fluid active" id="chatter">
    
  </div>
  <div class="tab-pane row-fluid" id="bike_with_friends">
    
  </div>
  <div class="tab-pane row-fluid" id="verysuchmuch">
    
  </div>
  <div class="tab-pane row-fluid" id="craigslist_crawler">
    
  </div>
</div>

{% endblock %}
