{% extends "projectsBasePage.html" %}
{%block title%}Very Such Much{%endblock%}

{% block header %}Very Such Much{% endblock %}

{% block about %}<a href="verysuchmuch.com">VerySuchMuch.com</a> is a place where people can go to purchase the crypto currency dogeCoin. If you buy your doge from some of the larger currency traders, it will often take 5-7 days for the Doge to be deposited in your account. If you want your Doge in a timely fashion, you have to find a specific person in places like <a href="http://www.reddit.com/r/dogemarket">reddit's Doge Market</a> but even then manual transactions between parties are time consuming and susceptible to scams. That's why we created verysuchmuch to facilitate instantaneous automatic transactions.{% endblock %}

{% block img1 %}<img src="/static/images/vsmHome.png" width="70%" height="70%"></img>{% endblock %}
{% block img2 %}<img src="/static/images/Dogecoin_logo.png" width="70%" height="70%"></img>{% endblock %}

{% block status %}
VerySuchMuch has been completed and has sold over 2.5 million so far. However it is currently down under matainence due to processing issues.
<br>VerySuchMuch is a product of Garage Bros LLC a company founded by Sam Verhasselt and Quin Thames
<p><a class="btn btn-primary btn-lg" href="http://www.verysuchmuch.com" role="button">Check it out &raquo;</a></p>
{% endblock %}
